<div style="background-color:Gray;">

<%= list.row_order_rank + 1 %>.

<strong>
<%= list.name %>
</strong>

<%= link_to "Edit", edit_list_path(list) %>
<%= link_to "Destroy", list, method: :delete, data: { confirm: 'Are you sure?' } %>

</div>